apiVersion: v1
kind: ResourceQuota
metadata:
  name: core-quotas
  namespace: "{{ openshift_project }}"
spec:
  hard:
    pods: "{{ project_max_pods }}" 
    requests.cpu: "{{ project_max_cpu }}"
    requests.memory: "{{ project_max_memory }}"