apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-resources
  namespace: "{{ openshift_project }}"
spec:
  hard:
    pods: "{{ project_max_pods }}" 
    limits.cpu: "{{ project_max_cpu }}"
    limits.memory: "{{ project_max_memory }}"