apiVersion: "v1"
kind: "LimitRange"
metadata:
  name: "resource-limits" 
  namespace: "{{ openshift_project }}"
spec:
  limits:
    - type: "Pod"
      max:
        cpu: "{{ pod_max_cpu }}" 
        memory: "{{ pod_max_memory }}" 
      min:
        cpu: "{{ pod_min_cpu }}" 
        memory: "{{ pod_min_memory }}" 
    - type: "Container"
      max:
        cpu: "{{ container_max_cpu }}" 
        memory: "{{ container_max_memory }}" 
      min:
        cpu: "{{ container_min_cpu }}" 
        memory: "{{ container_min_memory }}" 
      default:
        cpu: "{{ container_default_cpu }}" 
        memory: "{{ container_default_memory }}" 
      defaultRequest:
        cpu: "{{ container_default_request_cpu }}" 
        memory: "{{ container_default_request_memory }}"